*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/androidTest
/app/src/main/obj/*
./app/src/main/obj/local/
/app/src/main/libs
/app/src/test
